#draggable {
  width: 200px;
  height: 20px;
  text-align: center;
  background: white;
}

.dropzone {
}

.node {
  background: blueviolet;
  margin: 0.5em;
  padding: 0.4em;
  border: 3xpx;
}

.start-here {
  background: blueviolet;
}
